/*-----------------------------------------------------------------------------
FILE: styles.css
DESC: CSS for site TimWilliams
IN  :
OUT :
REQ :
NOTES: https://gridbyexample.com/examples/example21/  Grid within grid
-----------------------------------------------------------------------------*/
body{
  background-color: #ffffff;
}

h1.person{
  font-family: 'Bookman';
  color: black;
  font-weight: normal;
  margin:0.4em;
  padding:0;
  font-size:1.7em;
  line-height:0.6em;
}
h2.sidebar{
  font-size:0.9em;
  font-weight: bold;
  padding:0;
  line-height:0.2em;
}

h1.main{
  font-size:1em;
  font-weight: bold;
  padding:0;
  line-height:.2em;
}
h2.main{
  font-size:1em;
  font-weight: bold;
  padding:0;
  line-height:0.3em;
}

hr.sidebar{
  font-size:0.5em;
  padding:0;
  line-height:0.2em;
}

.expTitle{
  font-weight: bold;
}

.expLoc{
  font-style: italic;
  font-size:0.8em;
}

.expDesc{
  font-size:0.8em;

}


.reviewIcon{
  height:8px;
  margin:0px -1.5px;
  padding:0;

}

div.timeFrame{
  font-family: 'Arial';
  font-weight: normal;
  font-size:0.7em;
}

span.tight{
  padding:0;
  line-height:0.5em;
}

p.personDesc{
  font-family: 'Helvetica';
  font-size:0.8em;
  color: black;
}
  

/*--- GRIDS -----------------------------------------------------------------*/ 
wrapper {
 display: grid;
 grid-gap: 10px;
 grid-column-gap: 100px;
 grid-template-columns: 210px, 500px;
 grid-auto-flow: column; 
 
 /* grid-template-rows: repeat(2, [row] auto  ); */
}

  .box {
    background-color: #ffffff;
    padding: 0px;
    /* font-size: 150%; */
  }
  .box .box {
    /* nothing here */
  }

  /* Sidebar grid subgrid container  */
  .a {
    grid-column: 1;
    grid-row:    1;     
    grid-template-columns: 210px;  /* width of the sidebar */
    display: grid;


    grid:   subgrid;
    
    
  }
    /* Sidebar: Name */
    .c {
      grid-column: 1;
      grid-row:    1;
    /*background: blue;*/
    }

    /* Sidebar: Info */
    .d {
      grid-column: 1;
      grid-row:    2;
      font-family: 'Helvetica';
      font-size:0.8em;
      color: black;
      width: 210px;
      padding: 0px;
      
    }
    
    /* Sidebar: Contact */
    .e {
      grid-column: 1;
      grid-row:    3;
      background: #ffffdd;
      font-family: 'Helvetica';
      font-size:0.8em;
      color: black;
      width: 210px;
    }
    
    /* Sidebar: Skills */
    .f {
      grid-column: 1;
      grid-row:    4;
      font-size:0.8em;
      color: black;
      width: 210px;
    }
    
    /* Sidebar: Languages */
    .g {
      grid-column: 1;
      grid-row:    5;
      font-size:0.8em;
      color: black;
      width: 210px;
    }
  /*--- Main Grid -----------------------------------------------------------*/
  .b {
    grid-column: col 2;
    grid-row:    2;
    display: grid;

    grid:   subgrid;
    grid-gap: 5px;
    grid-template-columns: 100px 300px;
  }
  
    .i {
      grid-column: 1;
      grid-row:    1;
      grid-gap: 5px;
      align-items: left;
      background: #ffffdd;
    }
    .j {
      grid-column: 2;
      grid-row:    1;
      grid-gap: 5px;
    }
    
    .k {
      grid-column: 1;
      grid-row:    2;
      grid-gap: 5px;
      align-items: left;
      background: #ffffdd;
      
    }
    .l {
      grid-column: 2;
      grid-row:    2;
      grid-gap: 5px;
    }


.wrapper {
  max-width: 940px;
  margin: 0 5px;
}
.wrapper > div {
  padding: 0m;
}





.wrapper{
    display: grid;
    grid-template-columns: 250px, 80px, 300px, 300px ;
    grid-template-rows:    2em 300px 200px;
    grid-template-areas: 
      "nm    .     .    .  "
      "pers  sxn1H   sxn1H   sxn1H  "
      "con   sxn1T   sxnC    sxnC   "
 ;
}

.gridPicLeft{ /*N, but keep in case needed */
  display: grid;
  grid-template-columns: 230px 1fr ;  /* flexible grid units instead of px or % */
  grid-gap: 15px;  /* column and row */
}
.gridPicLeft div{
  border: 0px solid rgb(0.95,107);
  border-radius: 0px;
  padding: 0.01em;
}


.gridmaincontent{ /*N, but keep in case needed */
  display: grid;
  grid-template-columns: 7% 93% ;  /* flexible grid units instead of px or % */
  grid-gap: 5px;  /* column and row */
}
.gridmaincontent div{
  border: 0px solid rgb(0.95,107);
  border-radius: 0px;
  padding: 0.01em;
}
